:root{
    --primary-backgroung-color:  #011212;
    --primaryitem-width: 100px;
    --secondyitem-height: 100px;
    --secondary-background-color: #ff8800;
    --bordo-border-radius: 50px;
}


body {
    background-color:var(--primary-backgroung-color);
}

.ball {
    width: var(--primaryitem-width);
    height: var(--secondyitem-height);
    background-color: var(--secondary-background-color);
    border-radius: var(--bordo-border-radius)
}
