.container{
    display: flex;
}
#green {
    order: 3;
  }
  
  #orange {
    order: 4;
    flex-grow: 1;
  }
  
  #yellow {
    order: 1;
  }
  
  #red {
    order: 2;
  }
  
  #blue {
    order: 5;
  }